# Dependências
node_modules/

# Build / output
dist/
build/
*.tsbuildinfo

# Ambiente
.env
.env.local
.env.*.local

# Node.js
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.npm
.yarn/cache
.yarn/unplugged
.yarn/install-state.gz
.pnp.*

# TypeScript
*.tsbuildinfo

# Vite
.vite/

# IDE / OS
.DS_Store
Thumbs.db
*.log
.idea/
.vscode/
*.swp
*.swo
*~
